[Unit]
Description=Exam Variator API
After=network.target

[Service]
User=afikri
Group=afikri
WorkingDirectory=/home/afikri/WorkingSpace/Projects/python/exam-variator/backend_exam_variator
ExecStart=/home/afikri/WorkingSpace/Projects/python/exam-variator/backend_exam_variator/.venv/bin/uvicorn app.main:app --host 127.0.0.1 --port 8000 --workers 4
Restart=always
RestartSec=3
EnvironmentFile=/home/afikri/WorkingSpace/Projects/python/exam-variator/backend_exam_variator/.env

[Install]
WantedBy=multi-user.target
